.slider-bar {
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  background: #000; /* contraste */
}

.slider-track {
  display: inline-block;
  white-space: nowrap;
  font-family: "Times New Roman", serif;
  font-weight: 700;
  font-size: 1.1rem;
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.neon-gold {
  color: #FFD700;
  text-shadow: 
    0 0 5px #FFD700, 
    0 0 10px #FFD700, 
    0 0 20px #FFD700;
}
